<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Book Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <ng-container *ngIf="currentUser">
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/books">Books</a>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/authors">Authors</a>
          </li>
          <li rourerLinkActive="active">
            <a
              *ngIf="isUserAuthorized()"
              class="nav-link"
              routerLink="/books/new"
              >Add Book</a
            >
          </li>
        </ng-container>
      </div>
      <div class="navbar-divider"></div>
      <div class="navbar-nav ms-auto">
        <ng-container *ngIf="!currentUser">
          <a class="nav-link" routerLink="/auth/login">Login</a>
          <a class="nav-link" routerLink="/auth/signup">Register</a>
        </ng-container>
        <a class="nav-link" *ngIf="currentUser" (click)="logout()">Logout</a>
      </div>
    </div>
  </div>
</nav>
