<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Book Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li> -->
        <ng-container *ngIf="currentUser">
          <li routerLinkActive="active" class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              role="button"
              data-bs-toggle="dropdown"
              aria-expanded="false"
            >
              Books
            </a>
            <ul class="dropdown-menu">
              <li rourerLinkActive="active">
                <a class="dropdown-item" routerLink="/books">List Books</a>
              </li>
              <ng-container *ngIf="isUserAuthorized()">
                <li><hr class="dropdown-divider" /></li>
                <li rourerLinkActive="active">
                  <a class="dropdown-item" routerLink="/books/new">Add Book</a>
                </li>
              </ng-container>
            </ul>
          </li>
          <li routerLinkActive="active">
            <a class="nav-link" routerLink="/authors">Authors</a>
          </li>
        </ng-container>
      </div>
      <div class="navbar-divider"></div>
      <div class="navbar-nav ms-auto">
        <ng-container *ngIf="!currentUser">
          <a class="nav-link" routerLink="/auth/login">Login</a>
          <a class="nav-link" routerLink="/auth/signup">Register</a>
        </ng-container>
        <ng-container *ngIf="currentUser">
          <i class="bi bi-heart">favorites</i>
          <i class="nav-link bi bi-person-check"> {{ currentUser.username }}</i>
          <a class="nav-link" (click)="logout()">Logout</a>
        </ng-container>
      </div>
    </div>
  </div>
</nav>
