<nav class="navbar navbar-dark bg-dark sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">Book Management</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        @if(currentUser) {
        <li routerLinkActive="active" class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Books
          </a>
          <ul class="dropdown-menu">
            <li rourerLinkActive="active">
              <a class="dropdown-item" routerLink="/books">List Books</a>
            </li>
            @if(isUserAuthorized()) {
            <li><hr class="dropdown-divider" /></li>
            <li rourerLinkActive="active">
              <a class="dropdown-item" routerLink="/books/new">Add Book</a>
            </li>
            }
          </ul>
        </li>
        <li routerLinkActive="active">
          <a class="nav-link" routerLink="/authors">Authors</a>
        </li>
        }
      </div>
      <div class="navbar-divider"></div>
      <div class="navbar-nav ms-auto">
        @if(!currentUser) {
        <a class="nav-link" routerLink="/auth/login"> Login</a>
        <a class="nav-link" routerLink="/auth/signup">Register </a>
        } @else if(currentUser) {

        <li>
          <a
            class="nav-link"
            [routerLink]="['books/favorites', currentUser.username]"
            ><i class="bi bi-star-fill">Favorites</i></a
          >
        </li>
        @if(currentUser.role.includes('ROLE_ADMIN')) {
        <li class="nav-item dropdown">
          <a
            class="nav-link"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><i class="bi bi-person-check"> {{ currentUser.username }}</i></a
          >
          <ul class="dropdown-menu">
            <li rourerLinkActive="active">
              <a class="dropdown-item" (click)="sendToManageUsers()"
                >Manage users</a
              >
            </li>
          </ul>
        </li>
        } @else {
        <li rourerLinkActive="active">
          <a class="nav-link"
            ><i class="bi bi-person-check"> {{ currentUser.username }}</i></a
          >
        </li>
        }

        <li>
          <a class="nav-link" (click)="logout()"
            ><i class="bi bi-door-open-fill">Logout</i>
          </a>
        </li>

        }
      </div>
    </div>
  </div>
</nav>
