<div
  class="container d-flex justify-content-center align-items-center mt-5 mb-5"
>
  <div class="row">
    <div class="col-md-4 offset-md-3 mb-3">
      <div class="card shadow">
        <img src="/assets/images/login.avif" alt="" class="card-img-top" />
        <div class="card-body">
          <h5 class="card-title">Login</h5>
          <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">
            <div class="mb-3">
              <label class="form-label">Username :</label>
              <input
                type="text"
                name="username"
                id="username"
                ngModel
                class="form-control"
                required
              />
            </div>
            <div class="mb-3">
              <label class="form-label">Password :</label>
              <div class="input-group">
                <input
                  [type]="showPassword ? 'text' : 'password'"
                  name="password"
                  ngModel
                  class="form-control"
                  required
                />
                <span class="input-group-text">
                  @if(!showPassword) {
                  <i
                    class="bi bi-eye-slash-fill"
                    (click)="togglePasswordVisibility()"
                  ></i>
                  } @if(showPassword) {
                  <i
                    class="bi bi-eye-fill"
                    (click)="togglePasswordVisibility()"
                  ></i>
                  }
                </span>
              </div>
            </div>
            <div class="d-grid gap-2 col- mx-auto">
              <button class="btn btn-success" [disabled]="loginForm.invalid">
                Login
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
