<div class="container">
  <div
    *ngIf="success"
    class="mt-5 alert alert-success alert-dismissible fade show"
    role="alert"
  >
    <h4>{{ success.status }}</h4>
    <p>{{ success.message }}</p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="success = null"
    ></button>
  </div>

  <div
    *ngIf="error"
    class="mt-5 alert alert-danger alert-dismissible fade show"
    role="alert"
  >
    <h4>{{ error.status }}</h4>
    <p>{{ error.message }}</p>
    <button
      type="button"
      class="btn-close"
      data-bs-dismiss="alert"
      aria-label="Close"
      (click)="error = null"
    ></button>
  </div>
</div>
