<div class="container d-flex justify-content-center align-items-center mt-5 mb-5">
    <div class="row">
        <div class="col-md-4 offset-md-3">
            <div class="card shadow">
                <img src="/assets/images/login.avif"
                    alt="" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Sign Up</h5>
                        <form class="needs-validation" novalidate>
                            <div class="mb-3">
                                <label for="username" class="form-label">Username :</label>
                                <input type="text" name="username" id="username" class="form-control" required />
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="email" class="form-label">Email :</label>
                                <input type="text" name="email" id="email" class="form-control" required />
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password :</label>
                                <input type="password" name="password" name="password" class="form-control" required>
                                <div class="valid-feedback">
                                    Looks good!
                                </div>
                            </div>
                            <div class="d-grid gap-2 col- mx-auto">
                                <button class="btn btn-success">Sign Up</button>
                            </div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
