<app-header></app-header>
<div>
  <div class="container">
    <div
      *ngIf="success"
      class="mt-5 alert alert-success alert-dismissible fade show"
      role="alert"
    >
      {{ success }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>

    <div
      *ngIf="error"
      class="mt-5 alert alert-danger alert-dismissible fade show"
      role="alert"
    >
      {{ error }}
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
<app-footer></app-footer>
