<div class="row my-5">
  <h1 class="text-center">Edit Book</h1>
  <div class="col-md-5 offset-md-3">
    <form
      [formGroup]="editBookForm"
      #editForm
      (ngSubmit)="openEditConfirmationDialog()"
    >
      <div formGroupName="book">
        <!-- book Object => BookRequestBody -->
        <div class="my-3">
          <label class="form-label" for="title">Title :</label>
          <input
            [setValidFlag]="editBookForm.get('book.title')"
            class="form-control"
            type="text"
            id="title"
            formControlName="title"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">please provide a valid title</div>
        </div>
        <div class="mb-3">
          <label for="isbn" class="form-label">ISBN : </label>
          <input
            [setValidFlag]="editBookForm.get('book.isbn')"
            type="text"
            class="form-control"
            id="isbn"
            formControlName="isbn"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">please provide a valid isbn</div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price :</label>
          <div class="input-group">
            <input
              [setValidFlag]="editBookForm.get('book.price')"
              type="text"
              class="form-control"
              id="price"
              formControlName="price"
              placeholder="0.00"
              required
            />
            <span class="input-group-text">MAD</span>
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">please provide a valid price</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="datecreation">Date Création :</label>
          <div class="input-group">
            <input
              [setValidFlag]="editBookForm.get('book.dateCreation')"
              type="date"
              id="datecreation"
              class="form-control"
              placeholder="Select Date"
              formControlName="dateCreation"
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">please provide a valid date</div>
          </div>
        </div>
        <div class="mb-3">
          <label class="form-label" for="datepublication"
            >Date Publication :</label
          >
          <div class="input-group">
            <input
              [setValidFlag]="editBookForm.get('book.datePublication')"
              type="date"
              id="datepublication"
              class="form-control"
              formControlName="datePublication"
            />
            <div class="valid-feedback">Looks good!</div>
            <div class="invalid-feedback">please provide a valid date</div>
          </div>
        </div>
      </div>
      <!-- End of Book Object -->
      <!-- Author, Category and quantity fields -->
      <div class="mb-3">
        <label for="Author" class="form-label">Author :</label>
        <input
          [setValidFlag]="editBookForm.get('authorName')"
          type="text"
          class="form-control"
          id="author"
          formControlName="authorName"
          [matAutocomplete]="auto"
          required
        />
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option
            *ngFor="let authorname of authorFilteredOptions | async"
            [value]="authorname"
          >
            {{ authorname }}
          </mat-option>
        </mat-autocomplete>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please provide a valid author</div>
      </div>
      <div class="mb-3">
        <label for="category" class="form-label">Category :</label>
        <input
          [setValidFlag]="editBookForm.get('categoryName')"
          type="text"
          class="form-control"
          id="category"
          formControlName="categoryName"
          [matAutocomplete]="cat"
          required
        />
        <mat-autocomplete #cat="matAutocomplete">
          <mat-option
            *ngFor="let categoryname of categoryFilteredOptions | async"
            [value]="categoryname"
          >
            {{ categoryname }}</mat-option
          >
        </mat-autocomplete>
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please provide a valid category</div>
      </div>
      <div class="mb-3 col-md-3">
        <label for="quantity" class="form-label">Quantité : </label>
        <input
          [setValidFlag]="editBookForm.get('quantity')"
          type="number"
          min="0"
          class="form-control"
          id="quantity"
          formControlName="quantity"
        />
        <div class="valid-feedback">Looks good!</div>
        <div class="invalid-feedback">please provide a valid quantity</div>
      </div>
      <div class="mb-3 text-center">
        <button
          class="btn btn-success mx-2"
          type="submit"
          [disabled]="editBookForm.invalid"
        >
          Update Book
        </button>
        <button class="btn btn-danger" [routerLink]="['/books', currentBookId]">
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
