<div class="body-class d-flex text-center text-white bg-dark">
  <div
    class="cover-container d-flex justify-content-center mx-auto align-items-center"
  >
    <main class="px-3">
      <h1>Book Store</h1>
      <p class="lead">
        Welcome to BookStore! <br />
        Jump right in and explore our many Books. <br />
        Feel free to share some of your own and comment on others!
      </p>
      <a class="btn btn-lg font-weight-normal btn-secondary bg-white"
        >View Books</a
      >
    </main>
  </div>
</div>
